*{
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-style:solid;
    border-color: rgb(189, 17, 74);
    border-width: 10px;
}

#zonaEncabezado{
    height: 60pt;
    background-color: pink;
    vertical-align: center;
}
h3{
    text-align: center;
} 
#contenedorFoto{
    height: 200px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
